extends ../layout

block content
  .body
    .details
      .row
        // left column
        .col-md-4.col-sm-6.col-xs-12
          .text-center
            img.avatar.img-circle.img-thumbnail(src=talk.creator.image)
        .col-md-8.col-sm-6.col-xs-12.personal-info
          br
          .form-horizontal(role='form')
            .form-group
              label.col-md-3.control-label First name:
              .col-md-8
                p= talk.creator.firstname
            .form-group
              label.col-md-3.control-label Last name:
              .col-md-8
                p= talk.creator.lastname
            .form-group
              label.col-md-3.control-label Age:
              .col-md-8
                p= talk.creator.age
            .form-group
              label.col-md-3.control-label Nationality:
              .col-md-8
                p= talk.creator.country
            .form-group
              label.col-md-3.control-label About #{talk.creator.firstname}:
              .col-md-8
                p= talk.creator.about
      .form-horizontal(role='form')
        .form-group
          label.col-md-3.control-label Language:
          .col-md-6
            p= talk.language
        .form-group
          label.col-md-3.control-label Level:
          .col-md-6
            p= talk.level
        .form-group
          label.col-md-3.control-label Place:
          .col-md-6
            p= talk.place
        .form-group
          label.col-md-3.control-label Date:
          .col-md-6
            p= talk.date.toDateString()
        .form-group
          label.col-md-3.control-label Time:
          .col-md-6
            p= talk.date.toTimeString().split(':').slice(0,2).join(':')
        if user
          .form-group
            label.col-md-3.control-label
            .col-md-6
              a.join.btn.mybutton.btn-md.jointalk(href='/join/' + talk._id) Join!
        else
          br
          h3
            a(href='/login') Sign in
            |  and join this talk


            
