extends ../layout

block content
  .body
    #custom-search-input
      form.input-group.col-md-12(action="results" method="POST")
        input.form-control.input-lg(type='text', name="language" list="languages" placeholder='Enter a language...')
        datalist#languages
          option(value='Arabic')
          option(value='Albanian')
          option(value='Basque')
          option(value='Belarusian')
          option(value='Bosnian')
          option(value='Breton')
          option(value='Bulgarian')
          option(value='Catalan')
          option(value='Chechen')
          option(value='Croatian')
          option(value='Danish')
          option(value='Dutch')
          option(value='English')
          option(value='Estonian')
          option(value='Finish')
          option(value='French')
          option(value='Galician')
          option(value='German')
          option(value='Hungarian')
          option(value='Icelandic')
          option(value='Irish')
          option(value='Italian')
          option(value='Kazakh')
          option(value='Latin')
          option(value='Latvian')
          option(value='Lithuanian')
          option(value='Luxembourgish')
          option(value='Macedonian')
          option(value='Maltese')
          option(value='Norwegian')
          option(value='Occitan')
          option(value='Polish')
          option(value='Portuguese')
          option(value='Romanian')
          option(value='Russian')
          option(value='Serbian')
          option(value='Slovene')
          option(value='Spanish')
          option(value='Swedish')
          option(value='Turkish')
        span.input-group-btn
          button.btn.btn-info.btn-lg(type='submit')
            i.glyphicon.glyphicon-search
    br
    br
    .container.results
      h3.list-results Talks in #{language}:
      br
      if talks.length === 0
        h4.list-results No results found
        br
        if user
          h5.list-results
            a(href='/user#!/new-talk') Create a new talk
        else
          h5.list-results
            a(href='/login') Sign in
            |  and create a new talk

      ul.thumbnails
        each talk, i in talks
          li.span4.col-xs-12.col-md-4
            .thumbnail
              .img-thumbnail
                img(src=talk.creator.image)
                h3= talk.creator.firstname
              .caption
                p Language: #{talk.language}
                p= talk.date.toDateString()
                button.btn.mybutton.showdetails(data-id=talk._id) Show details